.page-admissions{
    height:100vh;
    background-image: url(../image/bg/admissions.jpg);
    background-size: cover;
}
.adm-container{
    position:absolute;
    top: 22.5vh;
    left: 26vw;
    width: 70vw;
    height: 70vh;
    border: solid 0px orange;
}
.adm-l_title{
    line-height: 4vh;
    border: solid 0px orange;
}
.adm-b_title{
    line-height: 6vh;
    border: solid 0px orange;
}
.adm-btn{
    float: left;
    width: 4vmin;
    height: 4vmin;
    margin-top: 1vh;
    margin-right: 10px;
    margin-bottom: 1vh;
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
}
.adm-btn_left{ background-image: url(../image/btn/btn_left_white.png); }
.adm-btn_left:hover{ background-image: url(../image/btn/btn_left_white_full.png); }
.adm-btn_right{ background-image: url(../image/btn/btn_right_white.png); }
.adm-btn_right:hover{ background-image: url(../image/btnbtn_right_white_full.png); }
.adm-rec_item{
    width: 9vw;
    height: 5vh;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    cursor: pointer;
    border: solid 0px orange;
}
.adm-rec_item_w{
    width: 11vw;
}
.adm-block1{
    float: left;
    height: 30vh;
    width: 10vw;
    margin-right: 1vw;
    margin-left: 0;
    margin-top: 20px;
    border: solid 0px green;
}
.adm-block1_w{ 
    width: 11vw;
}
.adm-block_extend{
    height: 16vh;
    color: white;
    border: solid 0px red;
    transition: color,background 1s ease-in-out;
    margin-bottom: 15px;
}

.adm-block_r_extend{
    background: rgba(230, 50, 30, 0.8);
}

.adm-block_b_extend{
    background: rgba(51, 141, 201, 0.8);
}

.adm-block_o_extend{
    background: rgba(255, 102, 0, 0.8);
}

.adm-block_r{
    height: 9vh;
    border: solid 0px red;
    overflow: hidden;
}
.text{
    float: left;
    width: 20vw;
    padding: 1vw;
    background: rgba(255,255,255,0.5);
    border: solid 0px blue;
    text-align: justify;
    display: none;
}

.adm-text{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-size: 0.75em;
    font-weight: 350;
    line-height: 1.375em;
    letter-spacing: 0.03125em;
}

.adm-text_block1_w{
    float: right;
}
.adm-link{
    width: 85%;
    border: solid 0px blue;
    margin: auto;
    height: 2.2vh;
    line-height: 2.2vh;
    margin-bottom: 0.3vh;
    color: white;
    text-align: center;
}
.adm-link:hover{
    background: rgba(255, 255, 255, 0.2);
    transition: all .5s ease-in-out;
}
.adm-link_margin{
    margin-top: 4vh;
}
.adm-bottom_info{
    position: fixed;
    bottom: -15vmin;
    right: -16vmin;
    width: 35vmin;
    height: 30vmin;
    border-top-left-radius: 35vmin;
    background: rgba(0, 0, 0, 0.7);
    transition: all 1s ease-in-out;
    color: white;
}
.adm-bottom_info:hover{
    bottom: 0vmin;
    right: -5vmin;
}
.adm-bottom_title{
    margin-top: 14vmin;
    margin-left: 10vmin;
    line-height: 4vmin;
    font-size: 90%;
    color: rgba(255,255,255,1)
}
.adm-bottom_text{
    width: 22vmin;
    margin-top: 0.5vmin;
    margin-left: 10vmin;
    line-height: 2vmin;
    color: rgba(255,255,255,0.65);
}
.adm-container1{display:none;}
.adm-master_item{
    margin-top: 0.2vh;
    padding-left: 0.8vw;
    width: 23vw;
    height: 5vh;
    line-height: 5vh;
    cursor: pointer;
    border: solid 0px orange;
    overflow: hidden;
}
.adm-master_item_active{
    color: white;
    background: rgba(0, 140, 190, 0.8);
}
.adm-block2{
    position: absolute;
    top: 15vh;
    left: 36vw;
    width: 34vw;
    background: rgba(255,255,255,0.5);
    border: solid 0px orange;
    display: none;
}
.adm-block2-link{
    float: left;
    width: 6vw;
    border: solid 0px orange;
}
.adm-link2{
    width: 80%;
    padding-left: 20%;
    height: 3vh;
    line-height: 3vh;
    margin-bottom: 0.5vh;
}
.adm-link2:hover{
    background: rgba(50, 50, 50, 0.8);
    color: white;
    transition: all .5s ease-in-out;
}
.adm-link2_margin{
    margin-top: 2.4vh;
}
.adm-text_block2{
    float: left;
    width: 20vw;
    margin-left: 3vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    padding: 1vh;
    border: solid 0px blue;
    text-align: justify;
}
.adm-tri_block{
    position: relative;
    float: left;
    width: 0;
    height: 28vmin;
    border-style: solid;
    border-width: 28vmin 28vmin 0 0;
    border-color: rgba(240, 190, 35, 0.8) transparent transparent transparent;
    color: white;
    margin-right: 8vmin;
}
.adm-tri_text_block{
    position: relative;
    float: left;
    width: 18vw;
    height: 20vh;
    margin-left: 3vw;
    border: solid 0px green;
    text-align: justify;
}
.adm-tri_subtitled{
    position: relative;
    margin-left:2.2vmin;
    margin-top: -26.5vmin;
    width: 20vmin;
}
.adm-link3{
    width: 10vmin;
    padding-left: 2.2vmin;
    height: 3vmin;
    line-height: 3vmin;
    margin-bottom: 0.5vmin;
}
.adm-link3:hover{
    background: rgba(255, 255, 255, 0.2);
    color: white;
    transition: all .5s ease-in-out;
}
.adm-link3_margin{
    margin-top: 2.4vh;
}

/* adjust staff page*/
@media screen and (min-width: 700px){
    
    .adm-mobile_info_container {
        display: none;
    }
}

/*陸生僑生港澳生*/
.adm-chinese_text_block{
    float:left;
    width: 20vw;
    height: 10vh;
    margin-top: 3vh;
    margin-right: 5vw;
    border: solid 0px black;
    text-align: justify;
}
.adm-chinese_table{
    float: left;
    width: 52vmin;
    height: 19vmin;
    margin-top: 3vh;
}
.adm-tr1{ height: 7vmin; }
.adm-tr2{ height: 7vmin; }
.adm-tr3{ height: 5vmin; }
.adm-td1{ width: 7vmin; }
.adm-td2{ width: 8vmin; }
.adm-td3{ width: 37vmin; }
table, th, td{
    border: solid 1px black;
    border-collapse: collapse;
}
.adm-box1{
    text-align: center;
}
.adm-box2{
    text-align: left;
    margin-left: 2.5vmin;
    line-height: 2.3vmin;
}
.adm-box3{
    width: 3vmin;
    height: 3vmin;
    margin: auto;
    background-image: url(../image/btn/btn_download.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.adm-box3:hover{ background-image: url(../image/btn/btn_download_rv.svg); }
.adm-box4{
    text-align: left;
    margin-left: 2.5vmin;
    line-height: 2.3vmin;
}
.adm-box5{
    width: 3vmin;
    height: 3vmin;
    margin: auto;
    background-image: url(../image/btn/btn_hyperlink.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.adm-box5:hover{ background-image: url(../image/btn/btn_hyperlink_rv.svg); }
.adm-box6{
    text-align: left;
    margin-left: 2.5vmin;
}


/*國際生*/
.adm-international_text_block{
    width: 27vw;
    height: 5h;
    margin-right: 5vw;
    border: solid 0px black;
}
.adm-int_first_block{
    margin-top: 3vh;
}
.adm-int_block_left{
    float: left;
    width: 27vw;
    height: 40vh;
    margin-top: 3vh;
    margin-right: 5vw;
    border: solid 0px black;
}
.adm-int_block_right{
    float: left;
    width: 35vw;
    height: 40vh;
    margin-top: 3vh;
    border: solid 0px black;
}
.adm-int_download{
    float: left;
    width: 4vmin;
    height: 4vmin;
    margin-top: 1vmin;
    background-image: url(../image/btn/btn_download.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.adm-int_download:hover{  background-image: url(../image/btn/btn_download_rv.svg); }
hr.adm-hr{
    float: left;
    border: 0;
    width: 1px;
    height: 4vmin;
    margin: 1vmin;
    margin-top: 1vmin;
    background: #646464;
}
.adm-text_btn{
    float:left;
    margin-top:  1.5vmin;
    margin-right:  1vmin;
    line-height: 2.6vmin;
    padding-left: 1vmin;
    padding-right: 1vmin;
    border: solid 1px #646464;
    color: #646464;
}
.adm-text_btn:hover{
    background: rgba(0,0,0,0.7);
    border: solid 1px rgba(0,0,0,0.7);
    color: white;
}
.adm-int_next_block{
    clear:both;
    margin-bottom: 2vh;
}
.adm-int_interval_1{
    float: left;
}
.adm-int_interval_2{
    float: left;
    padding-left: 0.5vw;
    margin-left: 0.5vw;
    border-left: solid 2px black;
    margin-bottom: 2vh;
}
.adm-interval_title{
    line-height: 3vmin;
}
.adm-interval_text{
    line-height: 3vmin;
}
.adm-table_row{
    width: 33vw;
    height: 2vh;
    margin-top: 1vh;
    border: solid 0px green;
    line-height: 2vh;
}
.adm-tb_name{
    float: left;
    height: 100%;
    width: 19vw;
    padding-left: 1vw;
    border: solid 0px orange;
}
.adm-tb_item{
    float: left;
    height: 100%;
    height: 100%;
    width: 4vw;
    border: solid 0px orange;
    text-align: center;
}
.adm-bg_w{
    background: rgba(255,255,255,0.4);
}

.read_more{
    background-image: url(../image/btn/admission_more.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 10px;
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 60px;
}

.read_more:hover{
    background-image: url(../image/btn/admission_more_black.png);
    cursor: pointer;
}

.adm_image_disappear{
    display: none;
}