.page-academics_1{
    background-image:url(../image/Mobile_500x600/research_centers.jpg);
    height:100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: repeat;
}
.page-academics{
    background-image:url(../image/Mobile_500x600/academics.jpg);
    height:100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: repeat;
}
.container{
    position: absolute;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
                /*overflow-y: scroll;*/
}

#ac-container{
/*
    position: absolute;
    padding-left: 15vw;
    padding-top: 14.5vh;
    width: 100vw;
    height: 100vh;
    overflow: visible;
    border: 1px orange solid;
*/
    /*height: 800px;*/
}
.ac-title_block{
    position: absolute;
    width: 55vw;
    height: 7.5vh;
    left: 15vw;
    top: 14.5vh;
    border: solid 0px blue;
}
hr.ac{
    display: none;
}
.ac-line{
    height: 1px;
    width: 70vw;
    background-color: rgba(255,255,255,1);
    margin-top: 15px;
    margin-bottom: 15px;
}
.rc-smalltitle{
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: #ffffff;
    line-height: 20px;
}
.rc-bigtitle{
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 400;
    font-size: 1.33em;
    letter-spacing: 0.2em;
    color: #ffffff;
    margin-top: 5px;

}
.ac-circle_block{
    position: absolute;
    margin-top: 20px;
    top: 24vh;
    left: 15vw;
    float: left;
    width: 85vw;
    height: 74.5vh;
    border: solid 0px orange;
}
.ac-text, .rc-text{
    position: relative;
    line-height: 14px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    letter-spacing: 0.1em;
    border: solid 0px green;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    display: block;
}
.subtitle, .subtitled, .text{
    display: none;
}
