.text { -webkit-text-size-adjust:none; }
.adm-container1{
    display: none;
}
.mobile-hidden{
    display: none;
}
.page-admissions{
    height:100vh;
    width: 100vw;
    background-image: url(../image/Mobile_500x600/admissions.jpg);
    background-size: cover;
    border: solid 0px black;
    overflow: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.subtitled{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.1em;
    margin-top: 4vh;
}
.adm-container{
    position:absolute;
    top: 10.5vh;
    left: 15vw;
    width: 70vw;
    height: 85.5vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-right: 5px;
    border: 0px black solid;
}
.adm-l_title{
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
    border: solid 0px orange;
    width: 70vw;
}
.adm-container-mobile{
    width: 69vw;
    border: solid 0px orange;
}
.adm-b_title{
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 400;
    font-size: 1.33em;
    letter-spacing: 0.2em;
    color: rgba(0, 0, 0, 1);
    border: solid 0px orange;
    width: 70vw;
    margin-top: 10px;
}
.adm-btn{
    position: absolute;
    float: left;
    width: 20px;
    height: 20px;
    margin-top: -19px;
    right: 0vw;
    background-size: contain;
    border: solid 0px green;
    cursor: pointer;
}
.adm-btn_right{  
    background-image: url(../image/Mobile_500x600/btn_next_dg.svg); 
}
.adm-btn_right:hover{ 
    background-image: url(../image/Mobile_500x600/btn_next_wh.svg); 
}
.adm-btn_left{ display: none; }
.adm-rec_item{
    float: left;
    width: 100px;
    text-align: left;
    /*cursor: pointer;*/
    border: solid 0px orange;

    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 300;
    color: rgba(50, 50, 50, 1);

}
.adm-rec_item_w{
    /*width: 11vw;*/
}
.adm-block-container{
    position: absolute;
    margin-top: 3vh;
    border: 0px red solid;
    width: 70vw;
}
.adm-block1{
    /*float: left;*/
    position: relative;
    height: 3vh;
    margin-top: 20px;
    opacity: 0.9;
    border: solid 0px green;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
}
.adm-block1_w{ 
}
.adm-block_r_extend, .adm-block_r{
    position: relative;
    margin-top: 0px;
    width: 70vw;
    height: 18px;
    border: solid 0px red;
    /*overflow: hidden;*/
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    color: rgba(50, 50, 50, 1);
}
.adm-text_block1{
    display: none;
    opacity: 0;
    height: 0vh;
    overflow: hidden;
}
.adm-tb1, .adm-tb2, .adm-tb3, .adm-tb4{
    display: none;
    opacity: 0;
    
}
.adm-text_block1_w{
    /*float: right;*/
}
.adm-line{
/* 10 */
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70vw;
    height: 1px;
    border: 0px black solid;
    background-color: rgba(50, 50, 50, 1);
}
.adm-link{
    position: absolute;
    border: solid 0px blue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    height: 22px;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: rgba(50, 50, 50, 1);
    background-color: rgba(255, 255, 255, 0.6);
}
.adm-link_margin{
    left: 0px;
}
.adm-mobile_info{
    position: absolute;
    bottom: 0vh;
    left: 15vw; /*-19vmin;*/
    width: 70vw;
    height: 6vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}
.adm-mobile_info_int{
    left: 0vw;
    position: relative;
}
.adm-mobile_info_mainland{
    bottom: 0vh;
    left: 0vw;
    position: absolute;
    /*position: relative;*/
}
/*
.adm-bottom_info:hover{
    width: 150px;
    height: 100px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.adm-bottom_title{
    margin-top: 18px;
    margin-left: 8px;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 350;
    font-size: 0.66em;
    letter-spacing: 0.28em;
    color: rgba(255, 255, 255, 1);
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
}

*/
.mobile-space{
    height: 4vh;
}
.adm-mobile_text{
    position: relative;
    float: left; 
    /*top: 10px;*/
    border: 0px solid blue;
    text-align: center;
    font-weight: 300;
    height: 4vh;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 1);
    line-height: 6vh;
}
/*
.adm-bottom_text2{
    top: 42px;
}
.adm-bottom_text3{
    top: 66px;
}
.adm-bottom_text4{
    top: 30px;
}
.adm-bottom_text5{
    top: 54px;
}
*/
.adm-mobile_info_line{
    position: relative;
    float: left;
    top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 2vh;
    width: 1px;
    background-color: rgba(255,255,255,1);
}
.adm-mobile_info_container{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*SECOND PAGE*/
.adm-master_item{
    /*margin-top: 0.2vh;
    padding-left: 0.8vw;
    width: 23vw;
    height: 5vh;
    line-height: 5vh;
    cursor: pointer;
    border: solid 0px orange;
    overflow: hidden;*/
    position: relative;
    width: 55vw;
    height: 18px;
    margin-bottom: 12px;
    text-align: left;
    border: solid 0px orange;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 350;
    font-size: 0.66em;
    line-height: 18px;
    color: rgba(50, 50, 50, 1);

}
.adm-mi8{
    width: 70vw;
}
/*
.adm-master_item_active{
    color: white;
    background: rgba(255, 150, 45, 0.8);
}
*/
.adm-block2{
/*    position: absolute;
    top: 15vh;
    left: 36vw;
    width: 34vw;
    background: rgba(255,255,255,0.5);
    border: solid 0px orange;
    display: none;*/
    position: absolute;
    height: 18px;
    width: 15vw;
    margin-left: 55vw;
    opacity: 0.9;
    border: solid 0px green;
}
.adm-b2-1{
    top: 0px;
}
.adm-b2-2{
    top:30px;
}
.adm-b2-3{
    top:60px;
}
.adm-b2-4{
    top:90px;
}
.adm-b2-5{
    top:120px;
}
.adm-b2-6{
    top:150px;
}
.adm-b2-7{
    top:180px;
}
.adm-b2-8{
    top:240px;
}

.adm-block2-link{
    width: 6vw;
    height: 18px;
    overflow: hidden;
    border: solid 0px orange;
}
.adm-link2{
    position: absolute;
    float: left;
    width: 64px;
    text-align: center;
    height: 22px;
    right: -8px;
    overflow: hidden;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 350;
    font-size: 0.67em;
    -webkit-transform: scale(0.75);
    line-height: 22px;
    color: rgba(50, 50, 50, 1);
    background-color: rgba(255, 255, 255, 1);
}
/*
.adm-link2:hover{
    background: rgba(50, 50, 50, 0.8);
    color: white;
    transition: all .5s ease-in-out;
}
*/
.adm-link2_margin{
    float: left;
    right: 46px;
}
.adm-text_block2{
    display: none;
    opacity: 0;
    height: 0vh;
    overflow: hidden;
}
.adm-tri_block{
    border: red 0px solid;
    height: 35vh;
    width: 70vw;
}
.adm-tri_text_block{
    display: none;
    opacity: 0;
    height: 0vh;
    overflow: hidden;
}
.adm-tri_subtitled{
    float: left;
    width: 100px;
    height: 18px;
    text-align: left;
    /*cursor: pointer;*/
    border: solid 0px orange;

    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 350;
    font-size: 0.66em;
    line-height: 18px;
    color: rgba(50, 50, 50, 1);

}
.adm-link3{
    position: absolute;
    float: left;
    width: 64px;
    text-align: center;
    height: 22px;
    right: -8px;
    overflow: hidden;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 350;
    font-size: 0.67em;
    line-height: 22px;
    -webkit-transform: scale(0.75);
    color: rgba(50, 50, 50, 1);
    background-color: rgba(255, 255, 255, 1);

}
.adm-link3_margin{
    float: left;
    right: 46px;
}
.adm-int_first_block{
    margin-top: 15px;
}
.adm-int_second_block{
    text-align: justify;
}
.adm-int_block_right{
    margin-top: 8vh;
}
.adm-table_row{
    display: none;
}
.adm-interval_title{
    float: left;
    margin-top: 0px;
}
.adm-int_interval_1{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.05em;
}
.adm-interval_text{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: 0.05em; 
    margin-top: 0px;
    margin-left: 60px;
}
.adm-international_text_block{
}
.adm-btn1{
    margin-top: 5px;
    height: 20px;
    width: 35px;
    float: left;	
}
.adm-btn2{
    margin-top: 5px;
    margin-left: 40px;
    height: 20px;
    width: 50px;
}
.adm-text_btn{
/*
    margin-top: 3px;
    margin-left: 25%;
    width: 50px;
    height: 20px;
*/
    overflow: hidden;
    text-align: center;
    border: solid 1px rgba(100,100,100,1);
    color: rgba(100,100,100,1);
    padding-left: 3px;
    padding-right: 3px;
}
.adm-text_btn:hover{
    overflow: hidden;
    background-color: rgba(80,80,80,0.5);
    border: solid 1px white;
    color: white;
}
/*.text{
    line-height: 18px;
}*/
.adm-interval_text{
    font-size: 12px;
}
/* mainland_overseas_chinese*/
.adm-chinese_text_block{
    margin-top: 15px;
    text-align: justify;
    letter-spacing: 0.05em;
}
.adm-box1{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    border: solid 0px blue;
    float: none;
    margin-top: 2vh;
}
.adm-box2{
    font-size: 11px;
    line-height: 16px;
    border: solid 0px blue;
    float: none;
    margin-top: 4px;
    font-weight: 300;
    letter-spacing: 0.05em;
    font-style: italic;
}
.adm-box3{
    border: solid 1px rgba(100,100,100,1);
    padding: 7px;
    width: calc(70vw - 12px);
    float: none;
    margin-top: 16px;
}
.adm-box4{
    border: solid 1px rgba(100,100,100,1);
    padding: 7px;
    width: calc(70vw - 12px);
    float: none;
    margin-top: 8px;
}
