/***page international (國際交流合作)***/
.page-inter_contract{
    background-image: url(../image/Mobile_500x600/exchange_student.jpg);
    background-size: cover, auto;
    background-repeat: no-repeat, repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.container{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#ic-container{
    position: absolute;
    top: 14.5vh;
    left: 15vw;
    width: 70vw;
    padding-right: 5px;
    height: 85.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    border: 0px black solid;
    /*background-color: rgba(255,255,255,0.7);*/
}
hr.ic{
    display: none;
}
.ic-pagetitle{
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 1);
}
/*
.ic-dot{
    float: left;
    margin-top: 16px;
    margin-bottom: 4px;
    margin-right: 8px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.ic-rdot{ border: 1px solid rgba(155, 0,25, 1); }
.ic-bdot{ border: 1px solid rgba(0, 170, 230, 1); }
.ic-ydot{ border: 1px solid rgba(240, 190, 35, 1); }
.ic-rdot_checked{ background: rgba(155, 0,25, 1); }
.ic-bdot_checked{ background: rgba(0, 170, 230, 1); }
.ic-ydot_checked{ background: rgba(240, 190, 35, 1); }
.ic-rdot:hover{ background: rgba(155, 0,25, 1); }
.ic-bdot:hover{ background: rgba(0, 170, 230, 1); }
.ic-ydot:hover{ background: rgba(240, 190, 35, 1); }
*/
.ic-bigtitle{
    clear: both;
    letter-spacing: 0.2em; /*0.1em*/
    font-size: 1.33em;
    margin-bottom: 17px;
    font-weight: 400;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}
.ic-hide{
    display: block;
}
.ic-line{
    width: 100%;
    height: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}
.ic-btn_block{
    width: 70vw;
    height: auto;
    border: 0px gray solid;
}
.ic-btn{
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.ic-selector{
	margin:0;
}
/*
.ic-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    visibility: hidden;
}
*/
/*
.ic-triangle{
    position: fixed;
    right: 0vw;
    top: 43vh;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 180px 180px;
    border-color: transparent transparent rgba(255,255,255,0.75) transparent;
    display: none;

}
*/
.ic-bar{
/*
    position: absolute;
    top: 53.5vh;
    width: 65vw;
    height: 130px;
    overflow: hidden;
    background: grey;
    border: 1px red solid;
    opacity: 0.8;
    transition: all .6s ease-in-out 1.2s;
*/
    display: hidden;
}
.ic-line_r{ background-color: #FF6600; }
.ic-line_b{ background-color: #338DC9; }
.ic-line_y{ background-color: #F99E03;}
.ic-text_r{ color: #FF6600; }
.ic-text_b{ color: #338DC9; }
.ic-text_y{ color: #F99E03;}


.ic-image{
    height: 0vh;
    width: 0vw;
    display: none;
/*delete*/
}
.ic-text_block_mobile{
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    /*margin-bottom: 20px;*/
    height: 0px;
    width: 70vw;
    left: 0vw;
    opacity: 1;
    overflow: hidden;
    transition: 2s;
    background: rgba(255,255,255,0.6);
    border: 0px orange solid;
}
.ic-text_block1_mobile{
    /*margin-bottom: 20px;*/
    border: 0px red solid;
    padding: 15px;
    height: 0px;
    opacity: 1;
    transition: 2s;
}
.ic-text_block2_mobile{
    overflow: hidden;
    border: 0px blue solid;
    padding: 15px;
    padding-top: 4px;
    height: 0px;
    opacity: 1;
    transition: 4.5s;
}
.ic-num{
    float: left;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 26px;
}
.ic-text1{
    margin-left: 28px;
    margin-top: 6.5px;
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 300;
    color: rgba(50, 50, 50, 1);
}
.ic-text2{
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 400;
    font-size: 22px;
    height: 0px;
    overflow: hidden;
    transition: 2.5s;
    letter-spacing: 0;
    line-height: 26px;
}
.ic-text3, .ic-text4{
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 350;
    font-size: 0.66em;
    line-height: 1.2em;
    color: rgba(100, 100, 100, 1);
}
.ic-down-icon{
    background-image: url(../image/Mobile_500x600/icon_bottom.png);
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 0px green;
    cursor: pointer;
}
.ic-down-icon:hover{
    /*background-image: url(../image/Mobile_500x600/btn_next_dg.svg);*/
}
/*
.ic-btn-r01{ background-image:url(../image/btn/number_r01-02.svg); }
.ic-selector input:checked +.ic-btn-r01{ background-image:url(../image/btn/number_r01-01.svg); }
.ic-btn-r02{ background-image:url(../image/btn/number_r02-02.svg); }
.ic-selector input:checked +.ic-btn-r02{ background-image:url(../image/btn/number_r02-01.svg); }
.ic-btn-r03{ background-image:url(../image/btn/number_r03-02.svg); }
.ic-selector input:checked +.ic-btn-r03{ background-image:url(../image/btn/number_r03-01.svg); }
.ic-btn-r04{ background-image:url(../image/btn/number_r04-02.svg); }
.ic-selector input:checked +.ic-btn-r04{ background-image:url(../image/btn/number_r04-01.svg); }
.ic-btn-r05{ background-image:url(../image/btn/number_r05-02.svg); }
.ic-selector input:checked +.ic-btn-r05{ background-image:url(../image/btn/number_r05-01.svg); }
.ic-btn-r06{ background-image:url(../image/btn/number_r06-02.svg); }
.ic-selector input:checked +.ic-btn-r06{ background-image:url(../image/btn/number_r06-01.svg); }
.ic-btn-r07{ background-image:url(../image/btn/number_r07-02.svg); }
.ic-selector input:checked +.ic-btn-r07{ background-image:url(../image/btn/number_r07-01.svg); }
.ic-btn-r08{ background-image:url(../image/btn/number_r08-02.svg); }
.ic-selector input:checked +.ic-btn-r08{ background-image:url(../image/btn/number_r08-01.svg); }
.ic-btn-r09{ background-image:url(../image/btn/number_r09-02.svg); }
.ic-selector input:checked +.ic-btn-r09{ background-image:url(../image/btn/number_r09-01.svg); }
.ic-btn-r010{ background-image:url(../image/btn/number_r10-02.svg); }
.ic-selector input:checked +.ic-btn-r010{ background-image:url(../image/btn/number_r10-01.svg); }
.ic-btn-r011{ background-image:url(../image/btn/number_r11-02.svg); }
.ic-selector input:checked +.ic-btn-r011{ background-image:url(../image/btn/number_r11-01.svg); }
.ic-btn-r012{ background-image:url(../image/btn/number_r12-02.svg); }
.ic-selector input:checked +.ic-btn-r012{ background-image:url(../image/btn/number_r12-01.svg); }
.ic-btn-r013{ background-image:url(../image/btn/number_r13-02.svg); }
.ic-selector input:checked +.ic-btn-r013{ background-image:url(../image/btn/number_r13-01.svg); }
.ic-btn-r014{ background-image:url(../image/btn/number_r14-02.svg); }
.ic-selector input:checked +.ic-btn-r014{ background-image:url(../image/btn/number_r14-01.svg); }
.ic-btn-r015{ background-image:url(../image/btn/number_r15-02.svg); }
.ic-selector input:checked +.ic-btn-r015{ background-image:url(../image/btn/number_r15-01.svg); }
.ic-btn-r016{ background-image:url(../image/btn/number_r16-02.svg); }
.ic-selector input:checked +.ic-btn-r016{ background-image:url(../image/btn/number_r16-01.svg); }
.ic-btn-r017{ background-image:url(../image/btn/number_r17-02.svg); }
.ic-selector input:checked +.ic-btn-r017{ background-image:url(../image/btn/number_r17-01.svg); }
.ic-btn-r018{ background-image:url(../image/btn/number_r18-02.svg); }
.ic-selector input:checked +.ic-btn-r018{ background-image:url(../image/btn/number_r18-01.svg); }
.ic-btn-r019{ background-image:url(../image/btn/number_r19-02.svg); }
.ic-selector input:checked +.ic-btn-r019{ background-image:url(../image/btn/number_r19-01.svg); }
.ic-btn-r020{ background-image:url(../image/btn/number_r20-02.svg); }
.ic-selector input:checked +.ic-btn-r020{ background-image:url(../image/btn/number_r20-01.svg); }
.ic-btn-r021{ background-image:url(../image/btn/number_r21-02.svg); }
.ic-selector input:checked +.ic-btn-r021{ background-image:url(../image/btn/number_r21-01.svg); }
.ic-btn-r022{ background-image:url(../image/btn/number_r22-02.svg); }
.ic-selector input:checked +.ic-btn-r022{ background-image:url(../image/btn/number_r22-01.svg); }
.ic-btn-r023{ background-image:url(../image/btn/number_r23-02.svg); }
.ic-selector input:checked +.ic-btn-r023{ background-image:url(../image/btn/number_r23-01.svg); }
.ic-btn-r024{ background-image:url(../image/btn/number_r24-02.svg); }
.ic-selector input:checked +.ic-btn-r024{ background-image:url(../image/btn/number_r24-01.svg); }
.ic-btn-r025{ background-image:url(../image/btn/number_r25-02.svg); }
.ic-selector input:checked +.ic-btn-r025{ background-image:url(../image/btn/number_r25-01.svg); }
.ic-btn-r026{ background-image:url(../image/btn/number_r26-02.svg); }
.ic-selector input:checked +.ic-btn-r026{ background-image:url(../image/btn/number_r26-01.svg); }
.ic-btn-r027{ background-image:url(../image/btn/number_r27-02.svg); }
.ic-selector input:checked +.ic-btn-r027{ background-image:url(../image/btn/number_r27-01.svg); }
.ic-btn-r028{ background-image:url(../image/btn/number_r28-02.svg); }
.ic-selector input:checked +.ic-btn-r028{ background-image:url(../image/btn/number_r28-01.svg); }
.ic-btn-r029{ background-image:url(../image/btn/number_r29-02.svg); }
.ic-selector input:checked +.ic-btn-r029{ background-image:url(../image/btn/number_r29-01.svg); }
.ic-btn-r030{ background-image:url(../image/btn/number_r30-02.svg); }
.ic-selector input:checked +.ic-btn-r030{ background-image:url(../image/btn/number_r20-01.svg); }

.ic-btn-b01{ background-image:url(../image/btn/number_b01-02.svg); }
.ic-selector input:checked +.ic-btn-b01{ background-image:url(../image/btn/number_b01-01.svg); }
.ic-btn-b02{ background-image:url(../image/btn/number_b02-02.svg); }
.ic-selector input:checked +.ic-btn-b02{ background-image:url(../image/btn/number_b02-01.svg); }
.ic-btn-b03{ background-image:url(../image/btn/number_b03-02.svg); }
.ic-selector input:checked +.ic-btn-b03{ background-image:url(../image/btn/number_b03-01.svg); }
.ic-btn-b04{ background-image:url(../image/btn/number_b04-02.svg); }
.ic-selector input:checked +.ic-btn-b04{ background-image:url(../image/btn/number_b04-01.svg); }
.ic-btn-b05{ background-image:url(../image/btn/number_b05-02.svg); }
.ic-selector input:checked +.ic-btn-b05{ background-image:url(../image/btn/number_b05-01.svg); }
.ic-btn-b06{ background-image:url(../image/btn/number_b06-02.svg); }
.ic-selector input:checked +.ic-btn-b06{ background-image:url(../image/btn/number_b06-01.svg); }
.ic-btn-b07{ background-image:url(../image/btn/number_b07-02.svg); }
.ic-selector input:checked +.ic-btn-b07{ background-image:url(../image/btn/number_b07-01.svg); }
.ic-btn-b08{ background-image:url(../image/btn/number_b08-02.svg); }
.ic-selector input:checked +.ic-btn-b08{ background-image:url(../image/btn/number_b08-01.svg); }
.ic-btn-b09{ background-image:url(../image/btn/number_b09-02.svg); }
.ic-selector input:checked +.ic-btn-b09{ background-image:url(../image/btn/number_b09-01.svg); }
.ic-btn-b010{ background-image:url(../image/btn/number_b10-02.svg); }
.ic-selector input:checked +.ic-btn-b010{ background-image:url(../image/btn/number_b10-01.svg); }
.ic-btn-b011{ background-image:url(../image/btn/number_b11-02.svg); }
.ic-selector input:checked +.ic-btn-b011{ background-image:url(../image/btn/number_b11-01.svg); }
.ic-btn-b012{ background-image:url(../image/btn/number_b12-02.svg); }
.ic-selector input:checked +.ic-btn-b012{ background-image:url(../image/btn/number_b12-01.svg); }
.ic-btn-b013{ background-image:url(../image/btn/number_b13-02.svg); }
.ic-selector input:checked +.ic-btn-b013{ background-image:url(../image/btn/number_b13-01.svg); }
.ic-btn-b014{ background-image:url(../image/btn/number_b14-02.svg); }
.ic-selector input:checked +.ic-btn-b014{ background-image:url(../image/btn/number_b14-01.svg); }
.ic-btn-b015{ background-image:url(../image/btn/number_b15-02.svg); }
.ic-selector input:checked +.ic-btn-b015{ background-image:url(../image/btn/number_b15-01.svg); }
.ic-btn-b016{ background-image:url(../image/btn/number_b16-02.svg); }
.ic-selector input:checked +.ic-btn-b016{ background-image:url(../image/btn/number_b16-01.svg); }
.ic-btn-b017{ background-image:url(../image/btn/number_b17-02.svg); }
.ic-selector input:checked +.ic-btn-b017{ background-image:url(../image/btn/number_b17-01.svg); }
.ic-btn-b018{ background-image:url(../image/btn/number_b18-02.svg); }
.ic-selector input:checked +.ic-btn-b018{ background-image:url(../image/btn/number_b18-01.svg); }
.ic-btn-b019{ background-image:url(../image/btn/number_b19-02.svg); }
.ic-selector input:checked +.ic-btn-b019{ background-image:url(../image/btn/number_b19-01.svg); }
.ic-btn-b020{ background-image:url(../image/btn/number_b20-02.svg); }
.ic-selector input:checked +.ic-btn-b020{ background-image:url(../image/btn/number_b20-01.svg); }
.ic-btn-b021{ background-image:url(../image/btn/number_b21-02.svg); }
.ic-selector input:checked +.ic-btn-b021{ background-image:url(../image/btn/number_b21-01.svg); }
.ic-btn-b022{ background-image:url(../image/btn/number_b22-02.svg); }
.ic-selector input:checked +.ic-btn-b022{ background-image:url(../image/btn/number_b22-01.svg); }
.ic-btn-b023{ background-image:url(../image/btn/number_b23-02.svg); }
.ic-selector input:checked +.ic-btn-b023{ background-image:url(../image/btn/number_b23-01.svg); }
.ic-btn-b024{ background-image:url(../image/btn/number_b24-02.svg); }
.ic-selector input:checked +.ic-btn-b024{ background-image:url(../image/btn/number_b24-01.svg); }
.ic-btn-b025{ background-image:url(../image/btn/number_b25-02.svg); }
.ic-selector input:checked +.ic-btn-b025{ background-image:url(../image/btn/number_b25-01.svg); }
.ic-btn-b026{ background-image:url(../image/btn/number_b26-02.svg); }
.ic-selector input:checked +.ic-btn-b026{ background-image:url(../image/btn/number_b26-01.svg); }
.ic-btn-b027{ background-image:url(../image/btn/number_b27-02.svg); }
.ic-selector input:checked +.ic-btn-b027{ background-image:url(../image/btn/number_b27-01.svg); }
.ic-btn-b028{ background-image:url(../image/btn/number_b28-02.svg); }
.ic-selector input:checked +.ic-btn-b028{ background-image:url(../image/btn/number_b28-01.svg); }
.ic-btn-b029{ background-image:url(../image/btn/number_b29-02.svg); }
.ic-selector input:checked +.ic-btn-b029{ background-image:url(../image/btn/number_b29-01.svg); }
.ic-btn-b030{ background-image:url(../image/btn/number_b30-02.svg); }
.ic-selector input:checked +.ic-btn-b030{ background-image:url(../image/btn/number_b20-01.svg); }

.ic-btn-y01{ background-image:url(../image/btn/number_y01-02.svg); }
.ic-selector input:checked +.ic-btn-y01{ background-image:url(../image/btn/number_y01-01.svg); }
.ic-btn-y02{ background-image:url(../image/btn/number_y02-02.svg); }
.ic-selector input:checked +.ic-btn-y02{ background-image:url(../image/btn/number_y02-01.svg); }
.ic-btn-y03{ background-image:url(../image/btn/number_y03-02.svg); }
.ic-selector input:checked +.ic-btn-y03{ background-image:url(../image/btn/number_y03-01.svg); }
.ic-btn-y04{ background-image:url(../image/btn/number_y04-02.svg); }
.ic-selector input:checked +.ic-btn-y04{ background-image:url(../image/btn/number_y04-01.svg); }
.ic-btn-y05{ background-image:url(../image/btn/number_y05-02.svg); }
.ic-selector input:checked +.ic-btn-y05{ background-image:url(../image/btn/number_y05-01.svg); }
.ic-btn-y06{ background-image:url(../image/btn/number_y06-02.svg); }
.ic-selector input:checked +.ic-btn-y06{ background-image:url(../image/btn/number_y06-01.svg); }
.ic-btn-y07{ background-image:url(../image/btn/number_y07-02.svg); }
.ic-selector input:checked +.ic-btn-y07{ background-image:url(../image/btn/number_y07-01.svg); }
.ic-btn-y08{ background-image:url(../image/btn/number_y08-02.svg); }
.ic-selector input:checked +.ic-btn-y08{ background-image:url(../image/btn/number_y08-01.svg); }
.ic-btn-y09{ background-image:url(../image/btn/number_y09-02.svg); }
.ic-selector input:checked +.ic-btn-y09{ background-image:url(../image/btn/number_y09-01.svg); }
.ic-btn-y010{ background-image:url(../image/btn/number_y10-02.svg); }
.ic-selector input:checked +.ic-btn-y010{ background-image:url(../image/btn/number_y10-01.svg); }
.ic-btn-y011{ background-image:url(../image/btn/number_y11-02.svg); }
.ic-selector input:checked +.ic-btn-y011{ background-image:url(../image/btn/number_y11-01.svg); }
.ic-btn-y012{ background-image:url(../image/btn/number_y12-02.svg); }
.ic-selector input:checked +.ic-btn-y012{ background-image:url(../image/btn/number_y12-01.svg); }
.ic-btn-y013{ background-image:url(../image/btn/number_y13-02.svg); }
.ic-selector input:checked +.ic-btn-y013{ background-image:url(../image/btn/number_y13-01.svg); }
.ic-btn-y014{ background-image:url(../image/btn/number_y14-02.svg); }
.ic-selector input:checked +.ic-btn-y014{ background-image:url(../image/btn/number_y14-01.svg); }
.ic-btn-y015{ background-image:url(../image/btn/number_y15-02.svg); }
.ic-selector input:checked +.ic-btn-y015{ background-image:url(../image/btn/number_y15-01.svg); }
.ic-btn-y016{ background-image:url(../image/btn/number_y16-02.svg); }
.ic-selector input:checked +.ic-btn-y016{ background-image:url(../image/btn/number_y16-01.svg); }
.ic-btn-y017{ background-image:url(../image/btn/number_y17-02.svg); }
.ic-selector input:checked +.ic-btn-y017{ background-image:url(../image/btn/number_y17-01.svg); }
.ic-btn-y018{ background-image:url(../image/btn/number_y18-02.svg); }
.ic-selector input:checked +.ic-btn-y018{ background-image:url(../image/btn/number_y18-01.svg); }
.ic-btn-y019{ background-image:url(../image/btn/number_y19-02.svg); }
.ic-selector input:checked +.ic-btn-y019{ background-image:url(../image/btn/number_y19-01.svg); }
.ic-btn-y020{ background-image:url(../image/btn/number_y20-02.svg); }
.ic-selector input:checked +.ic-btn-y020{ background-image:url(../image/btn/number_y20-01.svg); }
.ic-btn-y021{ background-image:url(../image/btn/number_y21-02.svg); }
.ic-selector input:checked +.ic-btn-y021{ background-image:url(../image/btn/number_y21-01.svg); }
.ic-btn-y022{ background-image:url(../image/btn/number_y22-02.svg); }
.ic-selector input:checked +.ic-btn-y022{ background-image:url(../image/btn/number_y22-01.svg); }
.ic-btn-y023{ background-image:url(../image/btn/number_y23-02.svg); }
.ic-selector input:checked +.ic-btn-y023{ background-image:url(../image/btn/number_y23-01.svg); }
.ic-btn-y024{ background-image:url(../image/btn/number_y24-02.svg); }
.ic-selector input:checked +.ic-btn-y024{ background-image:url(../image/btn/number_y24-01.svg); }
.ic-btn-y025{ background-image:url(../image/btn/number_y25-02.svg); }
.ic-selector input:checked +.ic-btn-y025{ background-image:url(../image/btn/number_y25-01.svg); }
.ic-btn-y026{ background-image:url(../image/btn/number_y26-02.svg); }
.ic-selector input:checked +.ic-btn-y026{ background-image:url(../image/btn/number_y26-01.svg); }
.ic-btn-y027{ background-image:url(../image/btn/number_y27-02.svg); }
.ic-selector input:checked +.ic-btn-y027{ background-image:url(../image/btn/number_y27-01.svg); }
.ic-btn-y028{ background-image:url(../image/btn/number_y28-02.svg); }
.ic-selector input:checked +.ic-btn-y028{ background-image:url(../image/btn/number_y28-01.svg); }
.ic-btn-y029{ background-image:url(../image/btn/number_y29-02.svg); }
.ic-selector input:checked +.ic-btn-y029{ background-image:url(../image/btn/number_y29-01.svg); }
.ic-btn-y030{ background-image:url(../image/btn/number_y30-02.svg); }
.ic-selector input:checked +.ic-btn-y030{ background-image:url(../image/btn/number_y20-01.svg); }
*/
