/*research - page1*/
.page-research_achievements{
    background-image:url(../image/Mobile_500x600/research_achievements.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
}
.ra-color_block{
    position:absolute;
    top: 14.5vh;
    left: 10vw;
    border: 0px black solid;
    width: 80vw;
    height: 60vh;
}
.ra-block{
    width: 75%;
    height: 80%;
    position: absolute;
    top: 17.5%;
    left: 15%;
    overflow-y: auto;
    border: black 0px solid;
}
.mp-mobile{
    width: 85%;
    height: 70%;
    position: absolute;
    top: 17.5%;
    left: 15%;
    overflow-y: scroll;
    border: black 0px solid;
}
.ra-title1{
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: white;
    line-height: 20px;
}
.ra-title2{
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    font-weight: 400;
    font-size: 1.33em;
    letter-spacing: 0.2em;
    color: white;
    margin-top: 15px;
}

.ra-title3{
    color: white;
    margin-bottom: 20px;
}

.ra-btn{
    display: none;
}
.ra-line{
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(50, 50, 50, 1); 
    height: 1px;
    width: 15px;
}
.ra-circle_block{
    position: absolute;
    margin-top: 15px;
    right: 0vw;
    bottom: 0;
    border: 0px solid rgba(230, 50, 30, 1);
}
.ra-circle_b{
    position: absolute;
    left: 17.64vmin;
    top: 7.56vmin;
    width: 33.6vmin;
    height: 33.6vmin;
    border-radius: 50%;
    background: rgba(255,255,255,0.3);
    color: white;
    line-height: 33.6vmin;
    text-align: center;
}

.ra-c1_mobile{
    background-image:url(../image/Mobile_500x600/01.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    background-position: right bottom;
    width: 25px;
    height: 280px;
    margin-bottom: 13px;
}
.ra-c1_mobile:hover{
    background-image:url(../image/Mobile_500x600/02.png);
}
.ra-c2_mobile{
    background-image:url(../image/Mobile_500x600/03.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    background-position: right bottom;
    width: 25px;
    height: 280px;
    margin-bottom: 13px;
}
.ra-c2_mobile:hover{
    background-image:url(../image/Mobile_500x600/04.png);
}

.ra-c3_mobile{
    background-image:url(../image/Mobile_500x600/05.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    background-position: right bottom;
    width: 25px;
    height: 280px;
    margin-bottom: 13px;
}
.ra-c3_mobile:hover{
    background-image:url(../image/Mobile_500x600/06.png);
}

.ra-c4_mobile{
    background-image:url(../image/Mobile_500x600/07.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    background-position: right bottom;
    width: 30px;
    height: 280px;
    margin-bottom: 13px;
}
.ra-c4_mobile:hover{
    background-image:url(../image/Mobile_500x600/08.png);
}
/*
.ra-c1{
    left: 0vmin;
    top: 0vmin;
}
.ra-c2{
    left: 43.68vmin;
    top: 0vmin;
}
.ra-c3{
    left: 21.84vmin;
    top: 33.6vmin;
}
*/
.ra-text_block{
    position: absolute;
    margin-top: 20px;
    width: 100%;
    border: solid 0px blue;
    display: none;
}

.ra-subtitled{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: 350;
    font-size: 0.66em;
    color: white;
}

hr.ra-hr{
    margin-bottom: 20px;
}
.ra-text{
    height: 22px;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    border: 0px solid black;
}



.page-most_projects{
    height:100vh;
    background-image: url(../image/p4.png);
    background-size: auto;
    background-repeat: repeat;
}
.mp-title1{
    margin-top: 10px;
    line-height: 10px;
    color: white;
    font-size: 1em;
}
.mp-title2-mobile{
    margin-top: 15px;
    line-height: 25px;
    color: white;
    font-size: 1.33em;
    margin-bottom: 20px;
    display: inline-block;
}

.mp-subtitle{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-size: 0.83em; /*3.166em*/
    font-weight: 350;
    letter-spacing: 1.2px; /*0.1em*/
}
.mp-subtitled{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-size: 0.66em; /*1.5em*/
    font-weight: 350;
    line-height: 30px; /*2.833em*/
    letter-spacing: 1px; /*0.1em*/
    text-align: left;
}

.icon_mp{
        background-image: url(../image/Mobile_500x600/btn_down_arrow_500x600.svg);
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 10;
        border-radius: 15px;
        border: 2px solid rgba(0,0,0,0.7);
}
.icon_mp:hover{
    background-image: url(../image/Mobile_500x600/btn_down_arrow_rv_500x600.svg);
    border: 2px solid rgba(255,255,255,1);
}

.mp-btn1{ background-image: url(../image/btn/btn_main_research_inactive.svg); }
.mp-btn1:hover{ background-image: url(../image/btn/btn_main_research_active.svg); }
.mp-btn2{ background-image: url(../image/btn/btn_plan_active.svg); }
.mp-block-1{
    position: absolute;
    top:14vh;
    float: left;
    height: 40vh;
    width: 20vw;
    border: solid 0px blue;
}
.mp-block-2{
    position: absolute;
    top:14vh;
    float: left;
    left:40vw;
    height: 40vh;
    width: 20vw;
    border: solid 0px blue;
}
.mp-item_title{
    position: relative; 
    height: 25px;
    width: 100px;
    margin-bottom: 3px;
}
.mp-item{
    position: relative;
    height: 30px;
    width: 100px;
    line-height: 30px;
    border: solid 0px black;
    overflow: hidden;
    margin-bottom: 6px;
}
.mp-item_year{
    float: left;
}
.mp-circle{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-left: 60px;
    color: white;
    text-align: center;
    line-height: 30px;
}
.mp-circle_b{ background: #00AAE6; }
.mp-circle_o{ background: #FF962D; }


/* national labs*/

.page-national_labs{
    height:100vh;
	background-image: url(../image/Mobile_500x600/national_labs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
}

#rh-container{
    width: 75%;
    height: 80%;
    position: absolute;
    top: 17.5%;
    left: 15%;
    overflow-y: auto;
    border: black 0px solid;
}

.rh-down-icon{
    background-image: url(../image/Mobile_500x600/icon_bottom.png);
    position: absolute;
    width: 20px;
    height: 22px;
    margin-top: 0px;
    margin-bottom: 15px;
    right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 0px green;
    cursor: pointer;
    display: inline-block;
    bottom: 0;
}

.rh-title-block{
    position: relative;
}

.nl-line{
    border: white 0.5px solid;
    margin-bottom: 20px;
}

.nl-line_adjust{
    border: white 1px solid;
    width: 90%;
    margin: auto;
}

.intro-first-subtext-mobile{
    color: white;
    font-size: 1.1em;
    display: inline-block;   
    margin-bottom: 20px;
}

.intro-first-page-text,.intro-second-page-text{
    position: relative;
}

.more_btn,.back_btn_mobile{
    background-image: url(../image/Mobile_500x600/national_labs_more.png);
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 21px;
    margin-top: 10px;
    right: 5px;
    background-size: contain;
}

.sub-text-mobile{
    color: white;
    font-size: 1.1em;
}

.sub-text_1 {
    color: white;
    font-size: 0.9em;
    line-height: 25px;
}

.subpage-top, .subpage-middle, .subpage-bottom{
    margin: 15px 0;
}

.nl_charge,.nl_reservation{
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
}

.nl_charge{
    background-image: url(../image/Mobile_500x600/national_labs_charge.png);
    width: 130px;
    height: 21px;
}

.nl_reservation{
    background-image: url(../image/Mobile_500x600/national_labs_reservation.png);
    width: 65px;
    height: 21px;
}

.disapear{
    display: none;
}

#content-foot, #content-foot1{
    background-image: url(../image/Mobile_500x600/national_labs_footer.png);
    background-repeat: no-repeat;
    background-size: contain;
	z-index: 11;
	position: fixed;
	width: 300px;
    height: 300px;
    bottom: -265px;
	-webkit-transition: bottom 0.7s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: bottom 0.7s ease-in-out;
}
#content-foot:hover, #content-foot1:hover{
    background-image: url(../image/Mobile_500x600/national_labs_footer2.png);
    bottom: -12px;
}


.footer_text{
    color: white;
    padding: 5px 15px;
}

.footer_item_text{
    color: white;
    padding: 5px 15px;
}

.item_content{
    width: 100%;
    background: rgba(255,255,255,0.4);
    z-index: 11;
    border-radius: 5px;
    margin-bottom: 10px;
}

.line_height_24{
    width: 90%;
    margin: auto;
    padding: 5px 0;
    color: white;
}

.mcms_text img{
    width: 90%;
}

.mcms_text,.im_spec_text,.service_text,.service_policy_text,.sys_level_open_text,.sys_level_right,.charge_text,.train_text{
    color: white;
    width: 90%;
    margin: 8px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.9em;    
}

/*.scroller-up{
    height: 0;
}*/

/*.common_content{
	-webkit-transition: bottom 0.7s ease-in-out; /* For Safari 3.1 to 6.0 */
  /*  transition: bottom 0.7s ease-in-out;
}*/